.header-container {
  background-color: #ffffff;

  .inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-size: 18px;

    .logo {
      font-size: 23px;
      font-weight: 900;
      cursor: pointer;
    }

    .links-container {
      display: flex;
      gap: 20px;
      cursor: pointer;
    }
  }
}
