<app-header></app-header>
<div *ngIf="statistics" class="dashboard-container">
  <div class="title">Dashboard</div>
  <div class="dash-container">
    <div *ngFor="let stats of statsArray" class="dash-card">
      <div class="country">{{ stats?.country }}</div>
      <div class="content-details">
        <div class="cases">
          <div class="case total">
            <div class="case_title">Total Cases</div>
            <div class="stat">{{ stats?.cases.total }}</div>
          </div>
          <div class="active_rec_container">
          <div class="case active">
            <div class="case_title">Active</div>
            <div class="stat">{{ stats?.cases.active || "0" }}</div>
          </div>
          <div class="case recovered">
            <div class="case_title">Recovered</div>
            <div class="stat">{{ stats?.cases.recovered || "0" }}</div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <hr />
  </div>
</div>
